:root {
    --main-color: red;
}

body {
    background: #343436;
}

.streaming {
    position: fixed;
    z-index: 999;
    padding-top: 20px;
    width: max-content;
    height: 20px;
    margin: 0 auto;
    top: unset;
    right: 0px;
    bottom: 9%;
    left: 0px;
}

.container {
    max-width: 1000px;
}

.message {
    margin-top: 3rem;
}

.hero.is-info {
    background-color: var(--main-color);
}

.message-header {
    background-color: var(--main-color);
}

.button.is-danger {
    background-color: var(--main-color);
}

.image {
    background-color: hsl(0, 0%, 93%);
}
.has-bg-img {
    background: linear-gradient(to top, rgba(46, 49, 65, 0.7), rgba(46, 49, 65, 0.7)), url("/img/UnMundoEnCrisis.jpg") no-repeat center center ;
    background-size:cover; position: relative;
}
