<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>{{ site.title }}</strong><br>
        {{ site.subtitle }}
      <br>
      <a rel="license"
     href="https://creativecommons.org/publicdomain/zero/1.0/deed.es">
    <img src="https://i.creativecommons.org/p/zero/1.0/88x31.png" style="border-style: none;" alt="CC0"/>
      </a>
    </p>
  </div>
</footer>

 <script>
            var audio = document.getElementById("streamingControls");
            audio.addEventListener('error', function failed(e) {
               // audio playback failed - show a message saying why
               // to get the source of the audio element use $(this).src
               switch (e.target.error.code) {
                 case e.target.error.MEDIA_ERR_ABORTED:
                   alert('You aborted the video playback.');
                   break;
                 case e.target.error.MEDIA_ERR_NETWORK:
                   alert('A network error caused the audio download to fail.');
                   break;
                 case e.target.error.MEDIA_ERR_DECODE:
                   alert('The audio playback was aborted due to a corruption problem or because the video used features your browser did not support.');
                   break;
                 case e.target.error.MEDIA_ERR_SRC_NOT_SUPPORTED:
                   alert('The video audio not be loaded, either because the server or network failed or because the format is not supported.');
                   break;
                 default:
                   alert('An unknown error occurred.');
                   break;
               }
             }, true);

            var oldRadio = "";

            function playRadio(streaming, radioName) {
                // Update the page title with the radio name
                document.title = radioName + " | Radios Comunitarias";

                // Play the radio
                var audio = document.getElementById("streamingControls");
                audio.src = streaming;
                audio.play();

                // Add img-active class
                var image = document.getElementById(radioName);
                image.className = "img-responsive box-img img-active";

                // Remove img-active class to old radio play
                if (oldRadio) {
                    var image = document.getElementById(oldRadio);
                    image.className = "img-responsive box-img";
                }
                oldRadio = radioName;
            }
        </script>
