 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="/css/main.css">

<meta name="description" content="Un mundo en crisis. Una mirada socialista a los problemas de la actualidad. Columna de Fabián Harari para "La Radio Ha Vivido Equivocada" />

    <!-- Open Graph data -->
    <meta property="og:title" content="Un mundo en crisis. Una mirada socialista a los problemas de la actualidad. Columna de Fabián Harari para "La Radio Ha Vivido Equivocada" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://unmundoencrisis.github.io" />
    <meta property="og:image" content="https://unmundoencrisis.github.io/img/UnMundoEnCrisis.jpg" />
    <meta property="og:description" content="Un mundo en crisis. Una mirada socialista a los problemas de la actualidad. Columna de Fabián Harari para "La Radio Ha Vivido Equivocada" />

  </head>
